.error{
     text-align: center;
     display:grid;
     grid-template-columns: 1fr 1fr;
     /* margin-top: 20%; */
}

.error-message{
     margin-top: 20%;
     padding-right: 10%;
}
.error-message h2{
     font-size: 2rem;
     color: #2C87F0;
     font-size: 6rem;
}
.error-message h3{
color: red;
}
.error-message p{
     color: gray;
}

.backBtn{
     background-color: #29B965;
     padding: .2rem .6rem;
     color: #fff;
     font-weight: bold;
     font-size: 1.5rem;
     text-decoration: none;
     border-radius: .2rem;
}
.backBtn:hover{
     color: #fff;
     background-color: salmon;
}